<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/task-list" routerDirection="back">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"CONTACT_LIST" | translate }}</ion-title>
    <ion-buttons slot="end" *ngIf="new_contact">
      <ion-button (click)="newContact()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)" (ionPull)="ionPull($event)"
    (ionStart)="ionStart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>


  <ion-virtual-scroll [items]="contacts" approxItemHeight="320px" [headerFn]="separateLetter">

    <ion-item-divider *virtualHeader="let header" color="danger">
      <ion-label>{{ header }}</ion-label>
    </ion-item-divider>

    <ion-item *virtualItem="let item" (click)="itemContact(item)">
      <ion-avatar slot="start">
        <img [src]='item.photo'>
      </ion-avatar>
      <ion-label>
        <h3><strong>{{item.name}}</strong></h3>
        <h6>{{item.contact_code}}</h6>
        <p>{{item.town_name}}</p>
      </ion-label>
      <ion-icon style="color:green" slot="end" *ngIf="item.status_data" name="checkmark"></ion-icon>
    </ion-item>
  </ion-virtual-scroll>

  <!--
  <ion-infinite-scroll threshold="25%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more contacts...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  
  <ion-list>
    <ion-item *ngFor="let item of contacts" (click)="itemContact(item)">
      <ion-avatar slot="start">
        <img [src]='item.photo'>
      </ion-avatar>
      <ion-label>
        <h3><strong>{{item.name}}</strong></h3>
        <h6>{{item.contact_code}}</h6>
        <p>{{item.town_name}}</p>
      </ion-label>
      <ion-icon style="color:green" slot="end" *ngIf="item.status_data" name="checkmark"></ion-icon>
    </ion-item>
  </ion-list>
-->

</ion-content>