<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu/settings" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"NOT_SYNC_LIST" | translate }}</ion-title>
    <ion-buttons slot="end" *ngIf="data.length != 0">
      <ion-button *ngIf="contact_data" (click)="clearContact()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-button *ngIf="plantation_data" (click)="clearPlantation()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-button *ngIf="location_data" (click)="clearLocation()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-button *ngIf="local_data" (click)="clearData()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 *ngIf="data.length == 0" text-center>{{"DATA_NOT_STORED" | translate }}</h3>
  <p *ngIf="data.length == 0" (click)="resync()" text-center>Sync again</p>

  <!-- Contact -->
  <ion-list *ngIf="contact_data">
    <ion-item *ngFor="let item of data" text-wrap>
      <ion-thumbnail slot="start">
        <img [src]="item.photo">
      </ion-thumbnail>

      <ion-label>
        <h3>{{item.filename}}</h3>
        <p>{{item.doc_date}}</p>
        <small>{{item.description}}</small>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Plantation -->
  <ion-list *ngIf="plantation_data">
    <ion-item *ngFor="let item of data" text-wrap>
      <ion-thumbnail slot="start">
        <img [src]="item.photo">
      </ion-thumbnail>

      <ion-label>
        <h3>{{item.filename}}</h3>
        <p>{{item.doc_date}}</p>
        <small>{{item.description}}</small>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Location -->
  <ion-list *ngIf="location_data">
    <ion-item *ngFor="let item of data" text-wrap>
      <ion-thumbnail slot="start">
        <img [src]="item.photo">
      </ion-thumbnail>

      <ion-label>
        <h3>{{item.picture_name}}</h3>
        <p>{{item.date}}</p>
        <small>{{item.description}}</small>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Data -->
  <ion-list *ngIf="local_data">
    <h3 text-center>{{ lines_remain }} {{"DATA_TO_BE_SYNCED" | translate }}</h3>
    <ion-item *ngIf="local_data_spinner" style="margin-top:40%;">
      <ion-label>
        <p style="text-align: center;">
          {{local_data_progress_value}}/<strong>{{ local_data_total }}</strong>
        </p>
        <ion-progress-bar color="danger" value={{local_data_progress}}></ion-progress-bar>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="data.length != 0">
  <ion-toolbar color="danger">
    <ion-button fill="clear" expand="full" *ngIf="contact_data" (click)="syncContacts()" style="color:#fff;">
      <ion-icon slot="start" name="sync"></ion-icon> Sync 
    </ion-button>


    <ion-row *ngIf="plantation_data">
      <ion-col col-6 no-padding>
        <ion-button fill="clear" expand="full" (click)="syncPlantations('154')" style="color:#fff;">
          <ion-icon slot="start" name="sync"></ion-icon> Sync Photo
        </ion-button>
      </ion-col>
  
      <ion-col col-6 no-padding>
        <ion-button fill="clear" expand="full" (click)="syncPlantations('155')" style="color:#fff;">
          <ion-icon slot="start" name="sync"></ion-icon> Sync Video
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-button *ngIf="location_data" fill="clear" expand="full" (click)="syncLocationPics()" style="color:#fff;">
      <ion-icon slot="start" name="sync"></ion-icon> Sync
    </ion-button>

    <ion-button *ngIf="local_data" fill="clear" expand="full" (click)="syncDataOneByOne()" style="color:#fff;">
      <ion-icon slot="start" name="sync"></ion-icon> Sync
    </ion-button>
  </ion-toolbar>
</ion-footer>